<div>
  <h1> {{text}} </h1>
  <button class="btn btn-primary"(click)="mostrarBoton()">
    {{bandera ? "Ocultar" : "Mostrar"}}
  </button>
  <table class="table" *ngIf="articulos && articulos.length && bandera">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          NOMBRE
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of articulos">
        <td>{{articulo.id}}</td>
        <td>{{articulo.nombre | uppercase}}</td>
      </tr>

    </tbody>
  </table>
</div>